@use '../globals';

.volunteer {
    /**
     *  top image parallax effect
     **/
     .parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;

        h1 {
            position: absolute;
            color: globals.$white-color;
            padding-inline: 1rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

            @media screen and (max-width: 1300px) {
                font-size: 2rem;
            }
        }

        img {
            position: absolute;
            top: 0;
            // left: 0;
            width: 100%;
            pointer-events: none;

            @media screen and (max-width: 1500px) {
                height: 478px;
                object-fit: none;
            }
        }

        @media screen and (max-width: 1700px) {
            height: 70vh;
        }
        @media screen and (max-width: 1600px) {
            height: 65vh;
        }
        @media screen and (max-width: 1500px) {
            height: 60vh;
        }
    }


    /**
    *  volunteer general styling
    **/
    //  styling to get parallax effect
    .volunteer-content {
        position: relative;
        background: globals.$white-color;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .volunteer-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 4rem;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    h1 {
        font-weight: 700;
        margin-bottom: 4rem;
        text-align: center;
        color: globals.$blue-color;

        @media screen and (max-width: 1300px) {
            font-size: 2rem;
        }
    }

    p {
        margin-bottom: 0.5rem;
        line-height: 1.5rem;
    }

    .bold-text {
        font-weight: 700;
    }

    .uppercase-text {
        text-transform: uppercase;
    }

    .center-text {
        text-align: center;
    }

    hr {
        margin-block: 1rem;
        color: globals.$lightgray-color;
        width: 100%;
    }

    .image-gallery {
        margin-block: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img {
            max-width: 553px;
            width: 100%;
        }

        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }

    .volunteer-description {
        margin-block: 2rem;
    }

    .volunteer-button {
        background-color: globals.$red-color;
        color: globals.$white-color;
        text-decoration: none;
        padding: 1.5rem 2rem;
        margin-block: 3rem;
        text-align: center;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &:active {
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &:focus {
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }

    .form-container {
        margin-top: 4rem;
        margin-bottom: 6rem;

        h3 {
            text-align: center;
            margin-bottom: 1.5rem
        }

        form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 1.5rem;

            ul {
                margin-left: 0;
                li {
                    list-style-type: none;
                }
            }

            .contact-information {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    label {
                        color: globals.$blue-color;
                    }
                    input {
                        border: 1px solid black;
                        padding: 1rem 0.5rem;
                        font-size: 1rem;
                    }
                }

                #formFname, #formLname { width: 49%; }
                #formAddress, #formEmail, #formTelephone { width: 100%; }

                @media screen and (max-width: 1362px) {
                    #formFname, #formLname { width: 100%; }
                }
            }

            .monetary-donation {
                li>input {
                    padding: 1rem 0.5rem;
                    font-size: 1rem;
                }
            }
        }

        .submitButton {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            padding: 1.25rem 3rem;
            border-radius: 10px;
            border: 0;
            color: globals.$white-color;
            background-color: globals.$blue-color;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            &:active {
                opacity: 0.6;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                opacity: 0.6;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}