// basic colors
$black-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
$blue-color: rgb(10, 49, 97);
$red-color: rgb(179, 25, 66);
$lightgray-color: rgb(211, 211, 211);

$alink-color: rgb(52, 149, 235);

// social media colors
$facebook-color: rgb(66 103 178);
$instagram-color: rgb(253 36 76);
$twitter-color: rgb(29 161 242);

// header background color
$header-color: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(10, 49, 97) 100%);